//
//  Variables
//  ---------------------------------------------

$primary-color: #205FAB;
$secondary-color: #4D8FC4;
$accent-color: #F66A04;
$primary-text-color: #333333;
$normal-text-color: #333333;
$heading-text-color: #006173;

$font-color-white: #FFFFFF;

$max-width: 1280px;